<div class="box">

	<h1>Neil Patel</h1>

	<p> Marketing by Day & Ruby on Rails Developer by Night</p>

	<p>Former BT, XEROX Employee. 
		Don't Take Life Too Seriously & Go Do Something Useful.
		@IndiaWeddingApp @WeAreSpark48 @neilp666. Lets Connect.</p>

	<p>Location: Preston, England </p>

</div>