<div class="box">

	<h1>Neil Patel</h1>

	<p> Marketing & Ruby on Rails Developer </p>

	<p>Former BT, XEROX Employee. 
		Don't Take Life Too Seriously & Go Do Something Useful</p>

		<p>Lets Connect.</p>

	<p>Location: Preston, England </p>

<br />

	<a href="http://github.com/neilp666">
	<%= image_tag("github.png") %>
	</a>

</div>